<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<html lang="ar" dir="rtl"></html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENCS3320-خادم الويب</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main_ar.css">
</head>
<body>

    <div class="title"> 
        <div class="language-switch">
            <a href="main_en.html" id="langBtn">English</a>
        </div>
        <h1 style="color:red ; margin-top: 50px;">ENCS3320-خادم الويب</h1>
        <h1 class="head">مرحبا بكم في مساق شبكات الحاسوب</h1>
        <h1>خادم الويب لشبكات الحاسوب</h1>
        <div class="button-container">
            <a class="webButtons" href="https://www.birzeit.edu">موقع جامعة بيرزيت</a>
            <a class="webButtons" href="https://gaia.cs.umass.edu/kurose_ross/index.php">موقع الكتاب</a>
            <a class="webButtons" href="html/mySite_1220006_ar.html">الصفحة المحلية</a>
        </div>
    </div>
    <div class="container">
        <div class="main">
            <div class="teammembers">
                <h1>أعضاء الفريق</h1>

                <div class="teammember">
                    <div class="Picture" style>
                        <img src="../static/images/Qasim.png">
                    </div>
                    <div class="details" style="margin-left: 200px;">
                        <h2>قاسم بطراوي - 1220204 - طالب هندسة حاسوب</h2><br>
                        <h2 style="margin-left: 470px;">المشاريع</h2>
                        <ul style="margin-left: 247px;">
                            <li>معالج متعدد المراحل - معمارية الجاسوب</li>
                            <li>موقع الخطوط الجوية الفلسطينية - قواعد البيانات</li>
                            <li>معالج متعدد الدورات - الأنظمة الرقمية المتقدمة</li>
                            <li>معالج دورة واحدة - تنظيم الحاسوب</li>
                        </ul><br>
                        <h2 style="margin-left: 345px;">الهوايات والمهارات</h2>
                        <ul style="margin-left: 480px;">
                            <li>البرمجة</li>
                            <li>القيادة</li>
                            <li>العمل الجماعي</li>
                        </ul>
                    </div>
                    
                </div>

                <div class="teammember">
                    <div class="Picture" style>
                        <img src="../static/images/taleed.png">
                    </div>
                    <div class="details" style="margin-left: 200px;">
                        <h2> تليد حمادنه - 1220006 - طالب هندسة حاسوب</h2><br>
                        <h2 style="margin-left: 470px;">المشاريع</h2>
                        <ul style="margin-left: 247px;">
                            <li>معالج متعدد المراحل - معمارية الجاسوب</li>
                            <li>موقع الخطوط الجوية الفلسطينية - قواعد البيانات</li>
                            <li>معالج متعدد الدورات - الأنظمة الرقمية المتقدمة</li>
                            <li>معالج دورة واحدة - تنظيم الحاسوب</li>
                        </ul><br>
                        <h2 style="margin-left: 345px;">الهوايات والمهارات</h2>
                        <ul style="margin-left: 480px;">
                            <li>البرمجة</li>
                            <li>القيادة</li>
                            <li>العمل الجماعي</li>
                        </ul>
                    </div>
                    
                </div>

            </div>

            <div class="topic">
                <br><br><br>
                <h1>التحويل بالحزم مقابل التحويل الدائري</h1>
            
                <p style="color: black;">
                    التحويل بالحزم والتحويل الدائري هما تقنيتان مختلفتان لإرسال البيانات عبر الشبكة.
                    كل طريقة لها طريقتها الخاصة في التعامل مع نقل البيانات، ولكل منها مزايا وعيوب مختلفة.
                </p>
            
                <h2>التحويل بالحزم</h2>
                <img src="../static/images/PacketSwitching.jpg">
                <p style="color: black;">
                    في <strong>التحويل بالحزم</strong>، يتم تقسيم البيانات إلى حزم صغيرة 
                    ترسل بشكل مستقل عبر الشبكة. قد تسلك كل حزمة مسارًا مختلفًا 
                    بناءً على حالة الشبكة، وتعاد تجميعها عند الوصول إلى الوجهة. 
                    تستخدم هذه التقنية بشكل شائع في الإنترنت وشبكات البيانات الحديثة.
                </p>
            
                <h3 style="font-size: 25px">المزايا:</h3>
                <ol style="color: black; margin-right: 40px;font-size:23px">
                    <li>قابلة للتوسع وفعالة من حيث التكلفة.</li>
                    <li>استخدام فعّال لعرض النطاق الترددي.</li>
                    <li>كفاءة عالية للشبكة.</li>
                </ol>

                <h3 style="font-size: 25px">العيوب:</h3>
                <ol style="color: black; margin-right: 40px;font-size:23px">
                    <li>إمكانية فقدان الحزم.</li>
                    <li>وجود حمل إضافي بسبب رؤوس الحزم.</li>
                </ol>
            
                <h2>التحويل الدائري</h2>
                <img src="../static/images/CircuitSwitching.jpg">
                <p style="color: black;">
                    في <strong>التحويل الدائري</strong>، يتم إنشاء مسار 
                    اتصال بين المرسل والمستقبل قبل بدء نقل البيانات، 
                    ويظل هذا المسار نشطًا طوال فترة الاتصال. يُستخدم التحويل 
                    الدائري بشكل أساسي في شبكات الهواتف التقليدية.
                </p>
            
                <h3 style="font-size: 25px">المزايا:</h3>
                <ul style="color: black; margin-right: 40px; font-size:23px">
                    <li>اتصال موثوق ومستقر.</li>
                    <li>زمن تأخير منخفض.</li>
                    <li>أداء بسيط ويمكن التنبؤ به.</li>
                </ul>

                <h3 style="font-size: 25px">العيوب:</h3>
                <ul style="color: black; margin-right: 40px;font-size:23px">
                    <li>بنية تحتية مكلفة.</li>
                    <li>المسار المحجوز يهدر إذا لم يكن هناك نقل بيانات.</li>
                </ul><br><br>
            
            </div>

            
        </div>
    </div>

</body>

</html>